.navbar-expand-lg .navbar-collapse{
    display: flex;
    justify-content: space-between;
}
.my-lg-0{
    display: flex;
    flex-direction: row;
}
.card-text-bottom{
    color: rgb(143, 139, 139);
    text-align: bottom;
    margin-bottom: 0;
}
.card-body{
padding: 0;
}